@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-electric-purple: #c800ff;
  --main-canary-yellow: #ffea00;
  --secondary-uranian-blue: #a9def9;
  --secondary-mauve-purple: #e4c1f9;
  --tertiary-madder-red: #a31621;
  --tertiary-mint-green: #71b48d;
  --tertiary-coral-orange: #fc7753;
}

#description {
  visibility: hidden;
}

#topButtons {
  height: 1vh;
  display: flex;
  justify-content: space-between;
  max-height: 4.5rem;
}

header {
  background-color: var(--main-canary-yellow);
  border-bottom: 2px solid var(--main-electric-purple);
}

.product-card {
  min-width: 15rem;
  box-sizing: border-box;
}

.product-card:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  transform: scale(1.025);
}

/* globals.css */

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
}

#kazamLogo {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffea00;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header img {
  height: 5rem;
  width: auto;
}

nav a {
  color: white;
  text-shadow: 1px 1px 3px black;
  text-decoration: none;
  padding: 0.5rem;
}

footer {
  background-color: #f7e219;
  text-align: center;
  padding: 1rem;
}

.nav-link {
  position: relative;

  border-radius: 0.5rem;
}
.nav-link:hover {
  transition: all 250ms ease-in;
  background-color: var(--main-electric-purple);
}
.nav-link:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: (var(--tertiary-madder-red));
}

.main-nav-bar {
  min-height: 5vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--secondary-mauve-purple);
  border-bottom: 2px solid var(--main-electric-purple);
}

.dropdown-menu {
  z-index: 1000;
  width: max-content;
  top: 115%;
  left: 50%;
  transform: translateX(-50%);

  transition: all 2s linear;
  animation: appear 250ms ease-in;
}

@keyframes appear {
  from {
    opacity: 10%;
  }
  to {
    opacity: 100%;
  }
}

@media (min-width: 768px) {
  header {
    height: 15vh;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }

  header img {
    height: 5rem;
  }

  nav {
    height: 5vh;
  }

  #topButtons {
    height: 1vh;
    display: flex;
    justify-content: space-between;
    top: 0;
  }

  .individual-product-card {
    min-width: 15rem;
  }

  .description {
    position: relative;
  }

  footer {
    padding: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    margin-right: 10px;
  }

  input {
    padding: 5px;
    font-size: 16px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
}
.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; /* Adjust the gap between items as needed */
}
